<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xaviernara.newmindapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/crest"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PastorBiography" />
        <activity
            android:name=".CrestInfo"
            android:label="Crest" />
        <activity
            android:name=".SevenRConcept"
            android:label="7R Concept" />
        <activity
            android:name=".PreviousMessages"
            android:label="Previous Messages" />
        <activity
            android:name=".Website"
            android:label="@string/title_activity_website" />
        <activity android:name=".GivingWays" />
        <activity
            android:name=".VisionStatement"
            android:label="Vision Statement"></activity>
    </application>

</manifest>